USE [PROYECTO_DB_PARTIDOS_POLITICOS]
GO
/****** Object:  Table [dbo].[ADMIN_USUARIO]    Script Date: 12/5/2026 16:27:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMIN_USUARIO](
	[CODIGO_USUARIO] [varchar](30) NOT NULL,
	[TIPO_ID] [int] NOT NULL,
	[IDENTIFICACION] [varchar](20) NOT NULL,
	[NOMBRE] [varchar](30) NOT NULL,
	[PRIMER_APELLIDO] [varchar](30) NOT NULL,
	[SEGUNDO_APELLIDO] [varchar](30) NULL,
	[CORREO] [varchar](50) NOT NULL,
	[ESTADO] [char](1) NOT NULL,
 CONSTRAINT [PK_ADMIN_USUARIO] PRIMARY KEY CLUSTERED 
(
	[CODIGO_USUARIO] ASC,
	[TIPO_ID] ASC,
	[IDENTIFICACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BITACORA_EVENTO]    Script Date: 12/5/2026 16:27:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BITACORA_EVENTO](
	[CODIGO_ID] [int] IDENTITY(1,1) NOT NULL,
	[TABLA] [varchar](30) NOT NULL,
	[EVENTO_CRUD] [varchar](30) NOT NULL,
	[FECHA_HORA] [datetime] NOT NULL,
	[CODIGO_USUARIO] [varchar](30) NOT NULL,
	[TIPO_ID] [int] NOT NULL,
	[IDENTIFICACION] [varchar](20) NOT NULL,
 CONSTRAINT [PK_BITACORA_EVENTO_1] PRIMARY KEY CLUSTERED 
(
	[CODIGO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BITACORA_LOGIN]    Script Date: 12/5/2026 16:27:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BITACORA_LOGIN](
	[CODIGO_USUARIO] [varchar](30) NOT NULL,
	[TIPO_ID] [int] NOT NULL,
	[IDENTIFICACION] [varchar](20) NOT NULL,
	[FECHA_HORA] [datetime] NOT NULL,
	[SECUENCIA] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_BITACORA_LOGIN] PRIMARY KEY CLUSTERED 
(
	[SECUENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CANTON]    Script Date: 12/5/2026 16:27:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CANTON](
	[CODIGO_PROVINCIA] [int] NOT NULL,
	[CODIGO_CANTON] [int] NOT NULL,
	[DESCRIPCION_CANTON] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CANTON] PRIMARY KEY CLUSTERED 
(
	[CODIGO_PROVINCIA] ASC,
	[CODIGO_CANTON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COLABORADOR]    Script Date: 12/5/2026 16:27:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COLABORADOR](
	[TIPO_ID] [int] NOT NULL,
	[IDENTIFICACION] [varchar](20) NOT NULL,
	[NOMBRE] [varchar](30) NOT NULL,
	[PRIMER_APELLIDO] [varchar](30) NOT NULL,
	[SEGUNDO_APELLIDO] [varchar](30) NOT NULL,
	[FECHA_NACIMIENTO] [datetime] NOT NULL,
	[FECHA_AFILIACION] [datetime] NOT NULL,
	[SECUENCIA] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_COLABORADOR] PRIMARY KEY CLUSTERED 
(
	[TIPO_ID] ASC,
	[IDENTIFICACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATOS_COLABORADOR]    Script Date: 12/5/2026 16:27:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATOS_COLABORADOR](
	[TIPO_ID] [int] NOT NULL,
	[IDENTIFICACION] [varchar](20) NOT NULL,
	[PROFESION] [int] NOT NULL,
	[MOVIL] [varchar](10) NOT NULL,
	[CORREO_ELECTRONICO] [varchar](100) NOT NULL,
	[ESTADO_CIVIL] [int] NOT NULL,
	[PROVINCIA] [int] NOT NULL,
	[CANTON] [int] NOT NULL,
	[DISTRITO] [int] NOT NULL,
 CONSTRAINT [PK_DATOS_COLABORADOR] PRIMARY KEY CLUSTERED 
(
	[TIPO_ID] ASC,
	[IDENTIFICACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DISTRITO]    Script Date: 12/5/2026 16:27:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISTRITO](
	[CODIGO_PROVINCIA] [int] NOT NULL,
	[CODIGO_CANTON] [int] NOT NULL,
	[CODIGO_DISTRITO] [int] NOT NULL,
	[DESCRIPCION_DISTRITO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DISTRITO] PRIMARY KEY CLUSTERED 
(
	[CODIGO_PROVINCIA] ASC,
	[CODIGO_CANTON] ASC,
	[CODIGO_DISTRITO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO_CIVIL]    Script Date: 12/5/2026 16:27:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO_CIVIL](
	[CODIGO_ID] [int] NOT NULL,
	[DESCRIPCION] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ESTADO_CIVIL] PRIMARY KEY CLUSTERED 
(
	[CODIGO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PADRON_ELECTORAL]    Script Date: 12/5/2026 16:27:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PADRON_ELECTORAL](
	[CEDULA] [varchar](20) NOT NULL,
	[CODIGO_ELECTORAL] [varchar](6) NOT NULL,
	[RELLENO] [varchar](1) NOT NULL,
	[FECHA_CADUCIDAD] [datetime] NOT NULL,
	[JUNTA] [varchar](5) NOT NULL,
	[NOMBRE] [varchar](30) NOT NULL,
	[PRIMER_APELLIDO] [varchar](26) NOT NULL,
	[SEGUNDO_APELLIDO] [varchar](26) NULL,
 CONSTRAINT [PK_PADRON_ELECTORAL] PRIMARY KEY CLUSTERED 
(
	[CEDULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERFIL]    Script Date: 12/5/2026 16:27:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERFIL](
	[CODIGO_ID] [int] NOT NULL,
	[DESCRIPCION] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PERFIL] PRIMARY KEY CLUSTERED 
(
	[CODIGO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROFESION]    Script Date: 12/5/2026 16:27:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFESION](
	[CODIGO_ID] [int] NOT NULL,
	[DESCRIPCION] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PROFESION] PRIMARY KEY CLUSTERED 
(
	[CODIGO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDOR_MOVIL]    Script Date: 12/5/2026 16:27:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDOR_MOVIL](
	[CODIGO_ID] [int] NOT NULL,
	[DESCRIPCION] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PROVEEDOR_MOVIL] PRIMARY KEY CLUSTERED 
(
	[CODIGO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVINCIA]    Script Date: 12/5/2026 16:27:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVINCIA](
	[CODIGO_PROVINCIA] [int] NOT NULL,
	[DESCRIPCION_PROVINCIA] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PROVINCIA] PRIMARY KEY CLUSTERED 
(
	[CODIGO_PROVINCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_IDENTIFICACION]    Script Date: 12/5/2026 16:27:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_IDENTIFICACION](
	[CODIGO_ID] [int] NOT NULL,
	[DESCRIPCION] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TIPO_IDENTIFICACION] PRIMARY KEY CLUSTERED 
(
	[CODIGO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 12/5/2026 16:27:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[CODIGO_USUARIO] [varchar](30) NOT NULL,
	[TIPO_ID] [int] NOT NULL,
	[IDENTIFICACION] [varchar](20) NOT NULL,
	[PERFIL] [int] NOT NULL,
	[CLAVE] [varchar](120) NOT NULL,
 CONSTRAINT [PK_USUARIO_1] PRIMARY KEY CLUSTERED 
(
	[CODIGO_USUARIO] ASC,
	[TIPO_ID] ASC,
	[IDENTIFICACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO_CLAVE]    Script Date: 12/5/2026 16:27:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO_CLAVE](
	[USUARIO] [varchar](20) NOT NULL,
	[CLAVE] [varchar](120) NOT NULL,
 CONSTRAINT [PK_USUARIO_CLAVE] PRIMARY KEY CLUSTERED 
(
	[USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ADMIN_USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_ADMIN_USUARIO_USUARIO] FOREIGN KEY([CODIGO_USUARIO], [TIPO_ID], [IDENTIFICACION])
REFERENCES [dbo].[USUARIO] ([CODIGO_USUARIO], [TIPO_ID], [IDENTIFICACION])
GO
ALTER TABLE [dbo].[ADMIN_USUARIO] CHECK CONSTRAINT [FK_ADMIN_USUARIO_USUARIO]
GO
ALTER TABLE [dbo].[BITACORA_EVENTO]  WITH CHECK ADD  CONSTRAINT [FK_BITACORA_EVENTO_USUARIO] FOREIGN KEY([CODIGO_USUARIO], [TIPO_ID], [IDENTIFICACION])
REFERENCES [dbo].[USUARIO] ([CODIGO_USUARIO], [TIPO_ID], [IDENTIFICACION])
GO
ALTER TABLE [dbo].[BITACORA_EVENTO] CHECK CONSTRAINT [FK_BITACORA_EVENTO_USUARIO]
GO
ALTER TABLE [dbo].[BITACORA_LOGIN]  WITH CHECK ADD  CONSTRAINT [FK_BITACORA_LOGIN_USUARIO] FOREIGN KEY([CODIGO_USUARIO], [TIPO_ID], [IDENTIFICACION])
REFERENCES [dbo].[USUARIO] ([CODIGO_USUARIO], [TIPO_ID], [IDENTIFICACION])
GO
ALTER TABLE [dbo].[BITACORA_LOGIN] CHECK CONSTRAINT [FK_BITACORA_LOGIN_USUARIO]
GO
ALTER TABLE [dbo].[CANTON]  WITH CHECK ADD  CONSTRAINT [FK_CANTON_PROVINCIA] FOREIGN KEY([CODIGO_PROVINCIA])
REFERENCES [dbo].[PROVINCIA] ([CODIGO_PROVINCIA])
GO
ALTER TABLE [dbo].[CANTON] CHECK CONSTRAINT [FK_CANTON_PROVINCIA]
GO
ALTER TABLE [dbo].[COLABORADOR]  WITH CHECK ADD  CONSTRAINT [FK_COLABORADOR_TIPO_IDENTIFICACION] FOREIGN KEY([TIPO_ID])
REFERENCES [dbo].[TIPO_IDENTIFICACION] ([CODIGO_ID])
GO
ALTER TABLE [dbo].[COLABORADOR] CHECK CONSTRAINT [FK_COLABORADOR_TIPO_IDENTIFICACION]
GO
ALTER TABLE [dbo].[DATOS_COLABORADOR]  WITH CHECK ADD  CONSTRAINT [FK_DATOS_COLABORADOR_CANTON] FOREIGN KEY([PROVINCIA], [CANTON])
REFERENCES [dbo].[CANTON] ([CODIGO_PROVINCIA], [CODIGO_CANTON])
GO
ALTER TABLE [dbo].[DATOS_COLABORADOR] CHECK CONSTRAINT [FK_DATOS_COLABORADOR_CANTON]
GO
ALTER TABLE [dbo].[DATOS_COLABORADOR]  WITH CHECK ADD  CONSTRAINT [FK_DATOS_COLABORADOR_COLABORADOR] FOREIGN KEY([TIPO_ID], [IDENTIFICACION])
REFERENCES [dbo].[COLABORADOR] ([TIPO_ID], [IDENTIFICACION])
GO
ALTER TABLE [dbo].[DATOS_COLABORADOR] CHECK CONSTRAINT [FK_DATOS_COLABORADOR_COLABORADOR]
GO
ALTER TABLE [dbo].[DATOS_COLABORADOR]  WITH CHECK ADD  CONSTRAINT [FK_DATOS_COLABORADOR_DISTRITO] FOREIGN KEY([PROVINCIA], [CANTON], [DISTRITO])
REFERENCES [dbo].[DISTRITO] ([CODIGO_PROVINCIA], [CODIGO_CANTON], [CODIGO_DISTRITO])
GO
ALTER TABLE [dbo].[DATOS_COLABORADOR] CHECK CONSTRAINT [FK_DATOS_COLABORADOR_DISTRITO]
GO
ALTER TABLE [dbo].[DATOS_COLABORADOR]  WITH CHECK ADD  CONSTRAINT [FK_DATOS_COLABORADOR_ESTADO_CIVIL] FOREIGN KEY([ESTADO_CIVIL])
REFERENCES [dbo].[ESTADO_CIVIL] ([CODIGO_ID])
GO
ALTER TABLE [dbo].[DATOS_COLABORADOR] CHECK CONSTRAINT [FK_DATOS_COLABORADOR_ESTADO_CIVIL]
GO
ALTER TABLE [dbo].[DATOS_COLABORADOR]  WITH CHECK ADD  CONSTRAINT [FK_DATOS_COLABORADOR_PROFESION] FOREIGN KEY([PROFESION])
REFERENCES [dbo].[PROFESION] ([CODIGO_ID])
GO
ALTER TABLE [dbo].[DATOS_COLABORADOR] CHECK CONSTRAINT [FK_DATOS_COLABORADOR_PROFESION]
GO
ALTER TABLE [dbo].[DATOS_COLABORADOR]  WITH CHECK ADD  CONSTRAINT [FK_DATOS_COLABORADOR_PROVINCIA] FOREIGN KEY([PROVINCIA])
REFERENCES [dbo].[PROVINCIA] ([CODIGO_PROVINCIA])
GO
ALTER TABLE [dbo].[DATOS_COLABORADOR] CHECK CONSTRAINT [FK_DATOS_COLABORADOR_PROVINCIA]
GO
ALTER TABLE [dbo].[DISTRITO]  WITH CHECK ADD  CONSTRAINT [FK_DISTRITO_CANTON] FOREIGN KEY([CODIGO_PROVINCIA], [CODIGO_CANTON])
REFERENCES [dbo].[CANTON] ([CODIGO_PROVINCIA], [CODIGO_CANTON])
GO
ALTER TABLE [dbo].[DISTRITO] CHECK CONSTRAINT [FK_DISTRITO_CANTON]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_PERFIL] FOREIGN KEY([PERFIL])
REFERENCES [dbo].[PERFIL] ([CODIGO_ID])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_PERFIL]
GO
