<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sistema_de_Mantenimiento_PP.My.MySettings.PROYECTO_DB_PARTIDOS_POLITICOSConnectionString"
            connectionString="Data Source=DESKTOP-GC2FLGC\SQLEXPRESS;Initial Catalog=PROYECTO_DB_PARTIDOS_POLITICOS;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>